.blog-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 0.8rem;
    position: relative;
}

.blogs .blog {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1px solid lightgray;
}

.blogs :last-child {
    border-bottom: 0;
}

.marks {
    position: relative;
    position: sticky;
    top: 1rem;
}

.read-times {
    background-color: rgba(96, 71, 236, 0.1);
    padding: 5%;
    border: 1px solid #6047EC;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: #6047EC;
}

.mark-items {
    background-color: rgba(17, 17, 17, 0.05);
    border-radius: 0.5rem;
    padding: 5%;
    color: #111111;
}

.mark-items h3 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 1rem;
}

@media screen and (max-width : 576px) {
    .blog-container {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
        position: relative;
    }
}